* {
  padding: 5px;
  margin: 10px;
}
h1{
    text-align: center;
    color: rgb(4, 87, 4);
    margin-top: 3rem;
}
body {
  background-color: rgb(18, 190, 168);
}
.main-card {
  width: 50%;
  height: auto;
  background-color: ghostwhite;
  margin-left: 25%;
  border-radius: 10px;
}
.email {
  width: 28rem;
  height: 3.5rem;
  margin: 0 0 2rem 3rem;
}
.password {
  width: 28rem;
  height: 3.5rem;
  margin: 2rem 0 0 3rem;
}
.checkbox{
    display: flex;
    padding: 0 0 0 1.7rem;
    font-size: larger;
}
.box{
  margin: 0 0 0 10px ;
}

.button{
    background-color: rgb(43, 173, 43);
    border:1px ;
    color: aliceblue;
    border-radius:5px ;
    width: 8rem;
    height: 3.5rem;
    margin:2rem 0 0  14rem;
}
.label-text{
  margin: 0 0 0 1px ;
}
.button:hover{
    background-color: rgb(60, 217, 60);
}
.link{
    margin: 1px 0 0 1px ;
    text-decoration: none;
    color:rgb(23, 147, 23) ;
}
.main-link{
    text-align: center;
    font-size: larger;
}